POSTGRES_USER_EXTERNAL_PORT=5433
POSTGRES_USER_INTERNAL_PORT=5432
POSTGRES_USER_DB=user_service
POSTGRES_USER_USER=postgres
POSTGRES_USER_PASSWORD=postgres

POSTGRES_ACCESS_EXTERNAL_PORT=5434
POSTGRES_ACCESS_INTERNAL_PORT=5432
POSTGRES_ACCESS_DB=access_control_service
POSTGRES_ACCESS_USER=postgres
POSTGRES_ACCESS_PASSWORD=postgres

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VHOST=/

USER_SERVICE_EXTERNAL_PORT=8001
USER_SERVICE_INTERNAL_PORT=8000
USER_SERVICE_DB_HOST=postgres_user
USER_SERVICE_DB_PORT=5432
USER_SERVICE_DB_USER=postgres
USER_SERVICE_DB_PASSWORD=postgres
USER_SERVICE_DB_NAME=user_service
USER_SERVICE_REDIS_HOST=redis
USER_SERVICE_REDIS_PORT=6379
USER_SERVICE_RABBITMQ_HOST=rabbitmq
USER_SERVICE_RABBITMQ_PORT=5672
USER_SERVICE_RABBITMQ_USER=guest
USER_SERVICE_RABBITMQ_PASSWORD=guest
USER_SERVICE_LOG_LEVEL=INFO

ACCESS_CONTROL_SERVICE_EXTERNAL_PORT=8002
ACCESS_CONTROL_SERVICE_INTERNAL_PORT=8000
ACCESS_CONTROL_SERVICE_DB_HOST=postgres_access
ACCESS_CONTROL_SERVICE_DB_PORT=5432
ACCESS_CONTROL_SERVICE_DB_USER=postgres
ACCESS_CONTROL_SERVICE_DB_PASSWORD=postgres
ACCESS_CONTROL_SERVICE_DB_NAME=access_control_service
ACCESS_CONTROL_SERVICE_REDIS_HOST=redis
ACCESS_CONTROL_SERVICE_REDIS_PORT=6379
ACCESS_CONTROL_SERVICE_LOG_LEVEL=INFO

BFF_SERVICE_EXTERNAL_PORT=8000
BFF_SERVICE_INTERNAL_PORT=8000
BFF_SERVICE_USER_SERVICE_URL=http://user_service:8000
BFF_SERVICE_ACCESS_CONTROL_SERVICE_URL=http://access_control_service:8000
BFF_SERVICE_REDIS_HOST=redis
BFF_SERVICE_REDIS_PORT=6379
BFF_SERVICE_RABBITMQ_HOST=rabbitmq
BFF_SERVICE_RABBITMQ_PORT=5672
BFF_SERVICE_RABBITMQ_USER=guest
BFF_SERVICE_RABBITMQ_PASSWORD=guest
BFF_SERVICE_LOG_LEVEL=INFO

VALIDATION_SERVICE_USER_SERVICE_URL=http://user_service:8000
VALIDATION_SERVICE_ACCESS_CONTROL_SERVICE_URL=http://access_control_service:8000
VALIDATION_SERVICE_REDIS_HOST=redis
VALIDATION_SERVICE_REDIS_PORT=6379
VALIDATION_SERVICE_RABBITMQ_HOST=rabbitmq
VALIDATION_SERVICE_RABBITMQ_PORT=5672
VALIDATION_SERVICE_RABBITMQ_USER=guest
VALIDATION_SERVICE_RABBITMQ_PASSWORD=guest
VALIDATION_SERVICE_LOG_LEVEL=INFO
